<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MBA3" connectionString="Dsn=MBA3_PRODUCCION;Driver={4D v12 ODBC Driver};server=192.168.1.2;port=19813;"></add>
  </connectionStrings>
</configuration>